<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-screenshot" version="1.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ScreetShot</name>
    <author>Abay Zhuang</author>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module name="ScreetShot" src="www/ScreetShot.js">
        <clobbers target="cordova.plugins.ScreetShot" />
    </js-module>
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreetShot">
                <param name="android-package" value="com.xmexe.exe.ScreenShot.ScreenShot" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*"></config-file>
        <source-file src="src/android/RxScreenshotDetector.java" target-dir="src/com/xmexe/exe/ScreenShot/" />
        <source-file src="src/android/ScreenShot.java" target-dir="src/com/xmexe/exe/ScreenShot/" />
    </platform>

</plugin>
